* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}

a {
    color: white;
}

h1 {
    font-size: 250%;
}

p {
    font-size: 125%;
}

header {
    background-color: black;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 24px;
}

header li {
    list-style-type: none;
    color: white;
    font-size: 125%;
}

header a:hover {
    background-color: black;
    color: white;
}

.nav-links {
    display: flex;
}

.nav-links a {
    margin: 0 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    margin: 0 auto;
    max-width: 575px;
}

button {
    margin: 2%;
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 125%;
    border: none;
    border-radius: 25px;
}

button:hover {
    cursor: pointer;
    background-color: black;
}

label {
    font-size: 130%;
    margin: 0 12px 0 0;
}

select {
    padding: 3px 6px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 125%;
    border-radius: 8px;
}

